[client]                                                                                                             
port=3306
default-character-set=utf8mb4
[mysqld]
# FEDERATED存储引擎访问在远程数据库的表中的数据，而不是本地的表
#federated
# 跳过域名解析
#skip-name-resolve
port=3306
character_set_server=utf8mb4
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB
# 允许最大连接数
max_connections=200
#log_output='FILE'表示将日志存入文件,默认值是'FILE'　log_output='TABLE'表示将日志存入数据库,这样日志信息就会被写入到mysql.slow_log表中.
log-output=TABLE
#随机指定一个不能和其他集群中机器重名的字符串，如果只有一台机器，那就可以随便指定了 
server_id=1918
#开启binlog(下面是路径)
log_bin = mysql-bin
binlog_format = ROW
